<div class="box tabular">
<p>
  <%= label('project', 'author_id', l(:author_add)) %>
  <%= select_tag 'project[author_id]', options_from_collection_for_select(User.all, "id", "name", project.author_id) %>
</p>
</div>
