<%= labelled_form_for @project_author,
                   :as => :project_author,
                   :url => { :controller => 'author_adder', :action => 'edit', :project_id => @project.id },
                   :remote => true, :method => 'post' do |f| %>

<%= error_messages_for 'author_adder' %>


<div class="box tabular">
<p><%= f.select :user_id, options_from_collection_for_select(available_author_users(), "id", "name", @project_author.user_id), :size => 60, :required => true %>
</p>
</div>

<%= submit_tag((@project_author.nil? || @project_author.new_record?) ? l(:button_create) : l(:button_save)) %>
<% end %>
